.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headingLeft {
    display: flex;
    align-items: center;
    gap: 4px;
}

.descriptions {
    margin: 0;
    text-align: justify;
}


